<div class="mt-5 mb-5">
  <div class="row">
    <div class="col">
      <div class="card-columns" style="text-align: center">
        <mat-card class="example-card mb-5" style="display: inline-block; margin-right: 1em;" *ngFor="let song of songs">
          <mat-card-header>
            <mat-card-title>
              <!-- {{ song.name | titlecase}} -->
              <span>{{ song.name | titlecase}}</span>
            </mat-card-title>
            <mat-card-subtitle [routerLink]="['/artist', artist.id]"  *ngFor="let artist of song.artists">{{ artist.name }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image
               src="{{ song.images| imgNotFound }}"
               alt="{{ song.name }}">
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-outline-primary" mat-button>Ver Artista</button>
            <button class="btn btn-outline-success" mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>
